<div class="header">
  <div class="container clearfix">
    <h1><a class="header-logo" href="/">Jenga</a></h1>
    <div class="header-search">
      <form action="/search" method="get">
        <input type="text" name="q" placeholder="搜索" autocomplete="off" spellcheck="false">
      </form>
    </div>
    <ul class="nav-list left">
      <li class="nav-item"><a href="/dashboard">工作台</a></li>
      <li class="nav-item"><a href="/calendar">日历</a></li>
    </ul>
    <div class="header-actions">
      <a href="/">{{user.name}}</a></li>
    </div>
  </div>
</div>
